/**
 * Don't forget to update your APPs global.css to include this file!
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 30 100% 64%;
    --primary-foreground: 0 0% 2%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    /* --accent: 0 0% 96%; */
    --accent:  21 71% 89%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 7% 8%;
    --foreground: 60 9% 98%;

    --card: 20 6% 10%;
    --card-foreground: 60 9% 98%;

    --popover: 20 6% 10%;
    --popover-foreground: 60 9% 98%;

    --primary: 21 100% 39%;
    --primary-foreground: 60 9% 98%;

    --secondary: 22 8% 19%;
    --secondary-foreground: 60 9% 98%;

    --muted: 22 7% 29%;
    --muted-foreground: 21 8% 70%;

    --accent: 21 71% 19%;
    --accent-foreground: 60 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 24 8% 12%;
    --input: 23 9% 18%;
    --ring: 21 100% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

@keyframes gradientAnimation {
  0% {
    background-size: 200% 200%;
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.animated-gradient {
  background-size: 200% 200%;
  animation: gradientAnimation 15s ease-in-out infinite;
}


.star {
  --star-color: var(--primary);
  --star-tail-length: 8em;
  --star-tail-height: 4px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 7s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite,
    tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.83em;
  --top-offset: 79.29vh;
  --fall-duration: 10.288s;
  --fall-delay: 2.86s;
}
.star:nth-child(2) {
  --star-tail-length: 5.22em;
  --top-offset: 35.93vh;
  --fall-duration: 11.615s;
  --fall-delay: 4.819s;
}
.star:nth-child(3) {
  --star-tail-length: 5.27em;
  --top-offset: 10.4vh;
  --fall-duration: 8.509s;
  --fall-delay: 9.966s;
}
.star:nth-child(4) {
  --star-tail-length: 5.82em;
  --top-offset: 13.77vh;
  --fall-duration: 7.927s;
  --fall-delay: 2.544s;
}
.star:nth-child(5) {
  --star-tail-length: 7.15em;
  --top-offset: 51.52vh;
  --fall-duration: 9.08s;
  --fall-delay: 4.452s;
}
.star:nth-child(6) {
  --star-tail-length: 5.9em;
  --top-offset: 59.04vh;
  --fall-duration: 9.611s;
  --fall-delay: 1.22s;
}
.star:nth-child(7) {
  --star-tail-length: 5.12em;
  --top-offset: 48.94vh;
  --fall-duration: 10.816s;
  --fall-delay: 1.892s;
}
.star:nth-child(8) {
  --star-tail-length: 7.2em;
  --top-offset: 71.14vh;
  --fall-duration: 11.02s;
  --fall-delay: 8.216s;
}
.star:nth-child(9) {
  --star-tail-length: 7.45em;
  --top-offset: 94.53vh;
  --fall-duration: 8.801s;
  --fall-delay: 5.032s;
}
.star:nth-child(10) {
  --star-tail-length: 7.35em;
  --top-offset: 76.96vh;
  --fall-duration: 10.841s;
  --fall-delay: 8.15s;
}
.star:nth-child(11) {
  --star-tail-length: 6.16em;
  --top-offset: 34.87vh;
  --fall-duration: 6.038s;
  --fall-delay: 4.935s;
}
.star:nth-child(12) {
  --star-tail-length: 7.06em;
  --top-offset: 4.33vh;
  --fall-duration: 11.954s;
  --fall-delay: 1.952s;
}
.star:nth-child(13) {
  --star-tail-length: 7.36em;
  --top-offset: 24.38vh;
  --fall-duration: 8.146s;
  --fall-delay: 5.302s;
}
.star:nth-child(14) {
  --star-tail-length: 6.19em;
  --top-offset: 79.88vh;
  --fall-duration: 7.978s;
  --fall-delay: 4.637s;
}
.star:nth-child(15) {
  --star-tail-length: 7.47em;
  --top-offset: 76.72vh;
  --fall-duration: 10.506s;
  --fall-delay: 6.704s;
}
.star:nth-child(16) {
  --star-tail-length: 5.56em;
  --top-offset: 17.81vh;
  --fall-duration: 10.568s;
  --fall-delay: 9.38s;
}
.star:nth-child(17) {
  --star-tail-length: 7.1em;
  --top-offset: 63.29vh;
  --fall-duration: 8.324s;
  --fall-delay: 5.319s;
}
.star:nth-child(18) {
  --star-tail-length: 7.29em;
  --top-offset: 22.93vh;
  --fall-duration: 11.162s;
  --fall-delay: 3.91s;
}
.star:nth-child(19) {
  --star-tail-length: 6.29em;
  --top-offset: 47.64vh;
  --fall-duration: 10.828s;
  --fall-delay: 3.835s;
}
.star:nth-child(20) {
  --star-tail-length: 5.91em;
  --top-offset: 80.97vh;
  --fall-duration: 8.669s;
  --fall-delay: 1.857s;
}
.star:nth-child(21) {
  --star-tail-length: 6.08em;
  --top-offset: 85.92vh;
  --fall-duration: 9.216s;
  --fall-delay: 5.616s;
}
.star:nth-child(22) {
  --star-tail-length: 6.84em;
  --top-offset: 87.09vh;
  --fall-duration: 11.635s;
  --fall-delay: 9.143s;
}
.star:nth-child(23) {
  --star-tail-length: 5.87em;
  --top-offset: 68.21vh;
  --fall-duration: 11.797s;
  --fall-delay: 8.899s;
}
.star:nth-child(24) {
  --star-tail-length: 5.74em;
  --top-offset: 88.69vh;
  --fall-duration: 6.536s;
  --fall-delay: 9.303s;
}
.star:nth-child(25) {
  --star-tail-length: 6.53em;
  --top-offset: 26.57vh;
  --fall-duration: 10.175s;
  --fall-delay: 9.102s;
}
.star:nth-child(26) {
  --star-tail-length: 6.88em;
  --top-offset: 5.57vh;
  --fall-duration: 6.095s;
  --fall-delay: 7.195s;
}
.star:nth-child(27) {
  --star-tail-length: 6.4em;
  --top-offset: 57.7vh;
  --fall-duration: 9.704s;
  --fall-delay: 2.792s;
}
.star:nth-child(28) {
  --star-tail-length: 5.01em;
  --top-offset: 95.63vh;
  --fall-duration: 9.291s;
  --fall-delay: 2.84s;
}
.star:nth-child(29) {
  --star-tail-length: 5.32em;
  --top-offset: 44.9vh;
  --fall-duration: 9.625s;
  --fall-delay: 2.912s;
}
.star:nth-child(30) {
  --star-tail-length: 5.01em;
  --top-offset: 22.78vh;
  --fall-duration: 7.697s;
  --fall-delay: 4.118s;
}
.star:nth-child(31) {
  --star-tail-length: 5.54em;
  --top-offset: 70.03vh;
  --fall-duration: 10.832s;
  --fall-delay: 9.869s;
}
.star:nth-child(32) {
  --star-tail-length: 5.27em;
  --top-offset: 11.75vh;
  --fall-duration: 6.656s;
  --fall-delay: 5.887s;
}
.star:nth-child(33) {
  --star-tail-length: 6.84em;
  --top-offset: 43.12vh;
  --fall-duration: 9.827s;
  --fall-delay: 5.855s;
}
.star:nth-child(34) {
  --star-tail-length: 5.87em;
  --top-offset: 18.12vh;
  --fall-duration: 7.154s;
  --fall-delay: 6.531s;
}
.star:nth-child(35) {
  --star-tail-length: 6.6em;
  --top-offset: 74.31vh;
  --fall-duration: 10.328s;
  --fall-delay: 9.565s;
}
.star:nth-child(36) {
  --star-tail-length: 7.3em;
  --top-offset: 39.14vh;
  --fall-duration: 11.034s;
  --fall-delay: 0.232s;
}
.star:nth-child(37) {
  --star-tail-length: 6.28em;
  --top-offset: 74.09vh;
  --fall-duration: 7.153s;
  --fall-delay: 7.878s;
}
.star:nth-child(38) {
  --star-tail-length: 5.3em;
  --top-offset: 22.92vh;
  --fall-duration: 8.326s;
  --fall-delay: 1.295s;
}
.star:nth-child(39) {
  --star-tail-length: 6.05em;
  --top-offset: 79.56vh;
  --fall-duration: 6.346s;
  --fall-delay: 9.817s;
}
.star:nth-child(40) {
  --star-tail-length: 5.4em;
  --top-offset: 26.91vh;
  --fall-duration: 6.924s;
  --fall-delay: 9.738s;
}
.star:nth-child(41) {
  --star-tail-length: 5.51em;
  --top-offset: 17.52vh;
  --fall-duration: 8.489s;
  --fall-delay: 8.267s;
}
.star:nth-child(42) {
  --star-tail-length: 7.03em;
  --top-offset: 58.64vh;
  --fall-duration: 6.306s;
  --fall-delay: 1.579s;
}
.star:nth-child(43) {
  --star-tail-length: 7.08em;
  --top-offset: 88.27vh;
  --fall-duration: 8.315s;
  --fall-delay: 1.422s;
}
.star:nth-child(44) {
  --star-tail-length: 6.4em;
  --top-offset: 38.96vh;
  --fall-duration: 8.736s;
  --fall-delay: 1.82s;
}
.star:nth-child(45) {
  --star-tail-length: 6.66em;
  --top-offset: 59.54vh;
  --fall-duration: 9.595s;
  --fall-delay: 6.446s;
}
.star:nth-child(46) {
  --star-tail-length: 6.72em;
  --top-offset: 18.16vh;
  --fall-duration: 9.956s;
  --fall-delay: 1.842s;
}
.star:nth-child(47) {
  --star-tail-length: 6.51em;
  --top-offset: 9.27vh;
  --fall-duration: 11.472s;
  --fall-delay: 0.85s;
}
.star:nth-child(48) {
  --star-tail-length: 5.47em;
  --top-offset: 62.39vh;
  --fall-duration: 10.751s;
  --fall-delay: 6.719s;
}
.star:nth-child(49) {
  --star-tail-length: 5.43em;
  --top-offset: 21.17vh;
  --fall-duration: 8.263s;
  --fall-delay: 4.259s;
}
.star:nth-child(50) {
  --star-tail-length: 6.8em;
  --top-offset: 49.51vh;
  --fall-duration: 10.538s;
  --fall-delay: 7.158s;
}
.star::before,
.star::after {
  position: absolute;
  content: '';
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%,
  50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%,
  80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
